@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
* {
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(dark-night-mountains-minimalist-4k-o4.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  #navbar{
    padding: 20px;
    box-shadow: 0 0 8px grey;
    display: flex;
    border-color: #222930;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 100;
    box-shadow: 0 0 18px rgb(255, 255, 255);
    justify-content: space-between;
  }
  #navbaroutter{
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  #navbarinner{
    display: flex;
  }
  /* #searchoutter{
    margin: auto;
  } */
  #navbarinner ul{
    list-style: none;
    display: flex;
  }
  #navbarinner ul li a{
    padding-right: 35px;
    font-weight: bolder;
    color:white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
    transition: 0.3s;
  }
  #navbarinner ul li a:hover{
    color: #e6ff01;
    text-decoration: underline;
  }
  #search{
    align-items: right;
    justify-content: right;
  }
  #box{
    margin: 20px;
    background: linear-gradient(90deg, #e6ff01, #00adf2 );
    padding: 20px;
    /* animation: color-wheel 1.5s linear infinite; */
    
  }
  @keyframes color-wheel {
    100%{
      filter: hue-rotate(360deg);
    }
  }
  #intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    padding: 20px;
    z-index: 100;
    padding: 100px 20px 50px 100px;
    background-color: black;
  }
    
  #hi,#iam,#name,#span1,#span2,#span3,#span4{
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    font-size: 5rem;
  }
  #iam{ 
    color: #00adf2;
  }
  #hi {
    -webkit-animation: moving1 1.5s;
    animation: moving1 1.5s;
}
@keyframes moving1 {
    from {transform: translateY(-200px);opacity: 0;}
    to {transform: translateY(0px);opacity: 1;}
}
#iam {
    -webkit-animation: moving2 1.5s;
    animation: moving2 1.5s;
}
@keyframes moving2 {
    from {transform: translateX(80px);opacity: 0;}
    to {transform: translateX(0px);opacity: 1;}
}
#name {
    -webkit-animation: moving3 1.5s;
    animation: moving3 1.5s;
    padding-bottom: 25px;
}
@keyframes moving3 {
    from {transform: translateY(200px);opacity: 0;}
    to {transform: translateY(0px);opacity: 1;}
}
/* #span1{
    -webkit-animation: appear1 1s infinite;
    animation: appear1 1s infinite;
}
@keyframes appear1 {
    from{opacity: 0;}
    to{
        opacity: 1;
    }
}
#span2{
    -webkit-animation: appear2 2s infinite;
    animation: appear2 2s infinite;
}
@keyframes appear2 {
    from{opacity: 0;}
    to{
        opacity: 1;
    }
}
#span3{
    -webkit-animation: appear3 3s infinite;
    animation: appear3 3s infinite;
}
@keyframes appear3 {
    from{opacity: 0;}
    to{
        opacity: 1;
    }
}
#span4{
    -webkit-animation: appear4 4s infinite;
    animation: appear4 4s infinite;
}
@keyframes appear4 {
    from{opacity: 0;}
    to{
        opacity: 1;
    }
} */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  top: -45px;
  left: 690px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: appear 15s,dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate, appear 15s;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate, appear 15s;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

#desc,#desc2{
  font-family: 'Fuzzy Bubbles', cursive;
  color: antiquewhite;
  padding: 10px 0px;
  font-size: 1.5rem;
  -webkit-animation: appear5 16s;
  animation: appear5 16s;
}
@keyframes appear5 {
  from{opacity: 0;}
  to{opacity: 1;}

}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container{
  margin: 0 40px 40px 40px;
  border-radius: 15px;
  
  display: flex;
}
.distribute{
  justify-content: space-between;
}
#heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 20px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  color: white;
  z-index: 10;
  animation: appear 15s; */
}
.cursor{
  font-size: 5rem;
  color: white;
  animation: cursor 0.5s infinite;
}
@keyframes cursor {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
@keyframes appear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
#heading h1{
  font-weight: 600;
  font-size: 3rem;
}
section h2{
  font-size: 40px;
  text-align: center;
  color: aliceblue;
  font-family: 'Inconsolata' monospace ;
  padding: 15px;
}
section .text-container{
   display: flex;
   box-shadow: 0 0 8px white;
   margin: 55px;
   background-color: black;
   /* border-radius: 15px; */
   min-width: 40vw;
}
section .text-container .text-box{
  margin: 0 20px 20px 20px;
  padding: 0 20px 20px 20px;
  background: black;
  border-radius: 15px;
  border: #00adf2;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.text-box p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 10px;
  color: white;
}
.btn{
  color: #00adf2;
  border-radius: 5px;
  background-color: #222930;
  margin: 10px;
  padding: 0 15px;
  border-color: transparent;
  background: linear-gradient(-135deg, #00adf2 50%, black 50%);
  background-size: 200% 200%;
  background-position: bottom left;
  transition: all .7s ease-out;
  border: 1px solid #222930;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:hover{
  background-position: top right;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 15px #00adf2;
  border: 1px solid #00adf2;
}

/* #skills{
  background-color: white;
}

#skills-menu{
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 18px rgb(60, 60, 60);
  margin: auto;
}
#skills-menu h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px 0;
}
#skills-menu-ul{
  list-style: none;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.skills-menu-li{
  min-width: 50vmin;
  display: flex;
  justify-content: space-evenly;
}

.skills-menu-li a{
  margin: auto;
  padding: 14px 50px;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration:none;
  list-style: none;
  background-color: #FF5733;
  transition: 0.7s;
}
.skills-menu-li a:hover{
  background-color: #39FF14;
  color: #222930;
  text-decoration: underline;
  text-decoration: none;
  transform: translateY(-10px);
  letter-spacing: 0.1rem;
} */

.blast{
  letter-spacing: 0.5px;
  margin:15px 0;
  padding:0px;
  font-weight:800;
  color:white;
  line-height:-15px;
  font-size:5rem;
}
.blast:hover{
  animation: blamst 2s;
  animation-timing-function:easy-in-out;
}
@keyframes blamst{
  0%{
    font-size:4.75rem;
    letter-spacing: 0.5px;
    font-weight:800;
    line-height: -15px;
  }
  25%{
    font-size:5.25rem;
    letter-spacing:-15px;
    font-weight:600;
    line-height: normal;
    color: #00adf2;
    margin-bottom: 0px;
    padding-bottom: 0px;
    z-index: 2;
  }
  100%{
    font-size:5rem;
    letter-spacing: 0.5px;
    font-weight:800;
    line-height: -15px;
  }
}
#skills{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills h1{
  margin: auto;
  margin: 50px 0;
  font-size: 5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
#skills-menu{
  display: flex;
  justify-content: space-between;
}
#skills-menu-des,#skills-menu-bar{
  max-width: 40vmin;
}
.skills-bar-container {
  width: 100%;
  background-color: #8d8484;
}

.skills-bar {
  height: 5px;
  color: white;
  background-color: #e6ff01;
}
.c {width: 85%;}
.java {width: 80%;}
.python {width: 75%;}
.html {width: 80%;}
.css {width: 70%;}
.js {width: 60%;}
.sol {width: 40%;}

#lr{
  display: flex;
}
#projects{
  color: white;
}
.projects{
  display:flex;
  justify-content:space-between;
  }
  
  .card {
    width: 400px;
    margin: 30px;
    padding: 5px;
    /* overflow: hidden; */
  }
  
  .card__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 2s;
    /* background: pink; */
    transform-style: preserve-3d;
  }
  
  .card:hover .card__content {
    transform: perspective(800px) rotateY(.5turn);
    cursor: pointer;
  }
  
  .card__front__pic1,.card__front__pic2,.card__front__pic3,
  .card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
  }
  
  /* .card__front__pic1,.card__front__pic2,.card__front__pic3 {
    background-color:#2759a9;
    color: rgb(255, 255, 255);
  } */
  
  .card__front__pic1::before,.card__front__pic2::before,.card__front__pic3::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: translateZ(3rem);
  }
  
  .card__title {
    text-align: center;
    font-size: 3rem;
    transform: translateZ(9rem);
    order: 2;
    text-transform: uppercase;
  }
  
  .card__subtitle {
    transform: translateZ(6rem);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: 700;
    opacity: .7;
  }
  
  .card__body {
    transform: translateZ(6rem);
    font-weight: (400);
    font-size: 1.5rem;
    line-height: 1.6;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .card__back {
    transform: perspective(800px) rotateY(.5turn);
    color: #b7c9e5;
    background: #252525;
  }
  .card__front__pic1{
    background-image: url(Business\ candle\ stick\ graph\ chart\ of\ stock\ market\ investment\ trading____.jfif);
    /* background-image: url(ethereum-1.jpeg); */
    background-size: cover;
    background-blend-mode: overlay;
    /* background-position: 50% 0; */
    background-color:#2759a9;
    color: rgb(255, 255, 255);
  }
  .card__front__pic2{
    /* background-image: url(Business\ candle\ stick\ graph\ chart\ of\ stock\ market\ investment\ trading____.jfif); */
    background-image: url(ethereum-1.jpeg);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: 50% 0;
    background-color:#2759a9;
    color: rgb(255, 255, 255);
  }
  .card__front__pic3{
    /* background-image: url(Business\ candle\ stick\ graph\ chart\ of\ stock\ market\ investment\ trading____.jfif); */
    /* background-image: url(ethereum-1.jpeg); */
    background-image: url(csm_deep-learning-vs-machine-learning-t_8d403d65ff.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: 50% 0;
    background-color:#2759a9;
    color: rgb(255, 255, 255);
  }